<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
   </head>
   <body>
      <img src="{{ url_for('static', filename='python-logo.svg')}}">

      <h1 class="bottom">Feature</h1>

      <ul>
          <li>WeasyPrint</li>
          <li>Python</li>
      </ul>
      
      <h1 class="bottom">Contact</h1>
         <div class="rTable">
         <div class="rTableRow">
            <div class="rTableHead"><strong>Name</strong></div>
            <div class="rTableHead"><span style="font-weight: bold;">Telephone</span></div>
            <div class="rTableHead"><span style="font-weight: bold;">Email</span></div>
         </div>
         <div class="rTableRow">
            <div class="rTableCell">smileboywtu</div>
            <div class="rTableCell"><a href="tel:0123456785">12345678</a></div>
            <div class="rTableCell"><span>smileboywtu@gmail.com</span></div>
         </div>
      </div>

   </body>
</html>
